.colorSection
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 100vh;
}
.colorName
{
    color: white;
    text-transform: uppercase;
}